/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess

 
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(font/NotoSansKR-Thin.woff2) format('woff2'),
       url(font/NotoSansKR-Thin.woff) format('woff'),
       url(font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(font/NotoSansKR-Light.woff2) format('woff2'),
       url(font/NotoSansKR-Light.woff) format('woff'),
       url(font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(font/NotoSansKR-Regular.woff2) format('woff2'),
        url(font/NotoSansKR-Regular.woff) format('woff'),
        url(font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(font/NotoSansKR-Medium.woff2) format('woff2'),
        url(font/NotoSansKR-Medium.woff) format('woff'),
        url(font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(font/NotoSansKR-Bold.woff2) format('woff2'),
        url(font/NotoSansKR-Bold.woff) format('woff'),
        url(font/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(font/NotoSansKR-Black.woff2) format('woff2'),
        url(font/NotoSansKR-Black.woff) format('woff'),
        url(font/NotoSansKR-Black.otf) format('opentype');
 }

@font-face {
    font-family:'bmwTypeWebBoldAll';
    src:url("font/bmwtypewebbo_all.eot");
    src:url("font/bmwtypewebbo_all.eot?#iefix") format("embedded-opentype"),
        url("font/bmwtypewebbo_all.woff") format("woff"),
        url("font/bmwtypewebbo_all.ttf") format("truetype"),
        url("font/bmwtypewebbo_all.svg#svgbmwTypeWebBold") format("svg");

    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"icons";

    src:url("font/bmwicons.eot");
    src:url("font/bmwicons.eot?#iefix") format("embedded-opentype"),
        url("font/bmwicons.woff") format("woff"),
        url("font/bmwicons.ttf") format("truetype"),
        url("font/bmwicons.svg#bmwicons") format("svg");

    font-weight:normal;
    font-style:normal;
}



*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
  font-family: 'MINISansBold';
src: url('font/mini_sans_serif-bold-web.eot');
src: url('font/mini_sans_serif-bold-web.eot?#iefix') format('embedded-opentype'), url('font/mini_sans_serif-bold-web.woff') format('woff'), url('font/mini_sans_serif-bold-web.ttf') format('truetype');
font-style: normal;
}
@font-face {
  font-family: 'MINISansReg';
src: url('font/mini_sans_serif-regular-web.eot');
src: url('font/mini_sans_serif-regular-web.eot?#iefix') format('embedded-opentype'), url('font/mini_sans_serif-regular-web.woff') format('woff'), url('font/mini_sans_serif-regular-web.ttf') format('truetype');
font-style: normal;
}
@font-face {
  font-family: 'MINIBold';
src: url('font/mini_serif-bold-web.eot');
src: url('font/mini_serif-bold-web.eot?#iefix') format('embedded-opentype'), url('font/mini_serif-bold-web.woff') format('woff'), url('font/mini_serif-bold-web.ttf') format('truetype');
font-style: normal;
}
@font-face {
  font-family: 'MINIItalic';
src: url('font/mini_serif-italic-web.eot');
src: url('font/mini_serif-italic-web.eot?#iefix') format('embedded-opentype'), url('font/mini_serif-italic-web.woff') format('woff'), url('font/mini_serif-italic-web.ttf') format('truetype');
font-style: normal;
}
@font-face {
  font-family: 'MINIRegular';
src: url('font/mini_serif-regular-web.eot');
src: url('font/mini_serif-regular-web.eot?#iefix') format('embedded-opentype'), url('font/mini_serif-regular-web.woff') format('woff'), url('font/mini_serif-regular-web.ttf') format('truetype');
font-style: normal;
}

/*

@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(font/NanumMyeongjo-Regular.eot);
  src: url(font/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(font/NanumMyeongjo-Regular.woff2) format('woff2'),
       url(font/NanumMyeongjo-Regular.woff) format('woff'),
       url(font/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(font/NanumMyeongjo-Bold.eot);
  src: url(font/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumMyeongjo-Bold.woff2) format('woff2'),
       url(font/NanumMyeongjo-Bold.woff) format('woff'),
       url(font/NanumMyeongjo-Bold.ttf) format('truetype');
}




@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(font/NanumGothic-Regular.eot);
  src: url(font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Regular.woff2) format('woff2'),
       url(font/NanumGothic-Regular.woff) format('woff'),
       url(font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(font/NanumGothic-Bold.eot);
  src: url(font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Bold.woff2) format('woff2'),
       url(font/NanumGothic-Bold.woff) format('woff'),
       url(font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(font/NanumGothic-ExtraBold.eot);
  src: url(font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(font/NanumGothic-ExtraBold.woff) format('woff'),
       url(font/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/



/* common */
html, body {
    height:100%;
    font-size:16px;
}

html {
    height:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body {
    position: relative;
    margin:0;
    padding:0;
    background:#ffffff;
    color:#000;
    word-break:keep-all;
    font-family:'Nanum Gothic', sans-serif;
    font-weight:normal;
    font-style:normal;
    line-height:1;
    cursor:default;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

*, *:before, *:after {
  box-sizing:border-box;
}

*:focus {
  outline: none;
}

a {
    color:#000;
    text-decoration:none;
}

.nanummyeongjo {
    font-family:'Nanum Myeongjo'
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

img{
    max-width:100%;
	border:none
}

ul, ol{
    list-style-type:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.pore {
    position:relative !important;
}

.clearfix:before {
    content: ' ';
    display: table;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.height-max {
    height:100%;
}

/* applies to GIF and PNG images; avoids blurry edges */
html[is-ie="Y"] img[src$=".gif"], html[is-ie="Y"] img[src$=".png"] {
    image-rendering: unset;         /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    background:rgba(255,255,255,0.001);
}

html.fix{overflow-y:hidden}

.container_big{position:relative;max-width:1500px;padding:0 30px;margin:0 auto}
.container_small{position:relative;max-width:1280px;padding:0 30px;margin:0 auto}

#header{position:fixed;top:0;left:0;width:100%;z-index:100;height:89px;overflow:hidden;transition: all .3s ease-out;}
#header > div{position:relative;height:89px;border-bottom:4px solid #000;background:#fff;z-index:5}
#header .bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;background:rgba(0,0,0,0);transition: all .3s ease-out;}
#header h1{position:absolute;top:27px;left:30px}
#header h1 img{border:none}
#header .m_gnb{display:none;z-index:0}
#header .btn_list{position:absolute;top:21px;right:20px;;display:none;height:20px;width:29px}
#header .btn_list span{position:absolute;left:0;top:0;display:block;width:29px;height:4px;background:#000}
#header .btn_list span:nth-child(0){top:0px;}
#header .btn_list span:nth-child(1){top:8px;}
#header .btn_list span:nth-child(2){top:16px;}
#header .m_page_subject{position:absolute;top:0;left:20px;display:none;padding-left:105px;font-size:16px;font-family:'MINISansReg';line-height:65px;text-align:left;color:#000}


#gnb{padding:30px 0 0 206px}
#gnb ul{overflow:hidden}
#gnb ul li{float:left;margin-left:30px}
#gnb ul li:first-child{margin-left:0}
#gnb ul li a{font-family:'MINISansReg';display:inline-block;font-size:14px;color:#000;line-height:30px;border-bottom:1px solid #fff;transition: all .3s ease-out;}
#gnb ul li a:hover,#gnb ul li.actived a{border-bottom-color:#000}

#container{position:relative;padding-top:89px}

#footer{position:relative;padding:28px 0 36px 0;background:#000;text-align:right;z-index:5}
#footer ul li{display:inline-block;margin-left:33px}
#footer ul li a{font-size:12px;color:#fff;font-weight:700}
#footer .copy{margin-top:18px}
#footer .copy p{font-size:12px;color:#606060;line-height:18px;padding-top:16px;border-top:1px solid #303030}

.bottom_info{padding-top:37px;padding-bottom:37px;}
.bottom_info li{position:relative;font-size:12px;line-height:18px;margin-top:3px;padding-left:10px}
.bottom_info li em{font-style:normal;position:absolute;top:0;left:0;line-height:18px}
.bottom_info li:first-child{margin-top:0}

.accordion-menu{border-bottom:1px solid #d3d3d3;border-top:2px solid #fff}
.accordion-menu > li{border-bottom:2px solid #fff;border-top:1px solid #d3d3d3}
.accordion-menu > li > a{position:relative;font-size:24px;font-family:'MINIBold';color:#000;line-height:30px;display:block;padding:13px 40px 13px 0}
.accordion-menu > li > a > span{display:block;position:absolute;top:50%;right:0;width:30px;height:30px;background:#231f20;cursor:pointer;margin-top:-15px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;transition:all .25s ease;}
.accordion-menu > li > a > span:after,
.accordion-menu > li > a > span:before{position:absolute;top:50%;left:50%;content:'';display:block;width:14px;height:2px;background:#fff;margin-top:-1px;margin-left:-7px;transition:all .25s ease}
.accordion-menu > li > a > span:after{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg)}
.accordion-menu > li.open > a > span:after{-webkit-transform: rotate(0);-moz-transform: rotate(0);-o-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0)}


.button01{display:block;font-size:14px;font-weight:700;color:#fff;line-height:40px;text-align:center;background:#ac2430;border:2px solid #ac2430;transition: all .3s ease-out;}
.button01:hover{background:#fff;border-color:#000;color:#000}

.button02{position:relative;display:block;font-size:14px;color:#000;background:#fff;padding:0 20px;line-height:44px;font-weight:700;transition: all .3s ease-out}
.button02:hover,.button02.actived{background:#000;color:#fff}
.button02:hover .on{opacity:1}
.button02:hover .off{opacity:0}
.button02.actived .on{opacity:1}
.button02.actived .off{opacity:0}
.button02 span{display:block;position:absolute;top:50%;right:20px;width:12px;height:19px;margin-top:-10px;transition: all .3s ease-out}
.button02 span.off{background:url(../images/content/tab_btn_arrow_off.png) left top no-repeat}
.button02 span.on{background:url(../images/content/tab_btn_arrow_on.png) left top no-repeat}
.button02 .on{opacity:0}

.swiper-button-next, .swiper-button-prev{background:none !important;opacity:1 !important}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{background:none !important;opacity:1 !important}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background:none !important}

#btn_top_scroll{position:fixed;bottom:20px;right:-999999999px;z-index:9;display:none;}

.d_t{display:table;width:100%;height:100%;}
.d_t .d_c{display:table-cell;width:100%;vertical-align:middle;}


@media screen and (max-width:1024px){    
    .container_big{padding-left:25px;padding-right:25px}
    .container_small{padding-left:25px;padding-right:25px}

    .button02 span{width:19px;height:12px;margin-top:-6px}
    .button02 span.off{background:url(../images/content/tab_btn_arrow_off02.png) left top no-repeat}
    .button02 span.on{background:url(../images/content/tab_btn_arrow_on02.png) left top no-repeat}

}

@media screen and (max-width:800px){  
    #gnb{padding-left:120px}
}

@media screen and (max-width:640px){    
    .container_big{padding-left:20px;padding-right:20px}
    .container_small{padding-left:20px;padding-right:20px}
    
    #header{position:fixed;height:65px}
    #header > div{height:65px}
    #header h1{top:13px;left:20px}
    #header .btn_list{display:block}
    #header .container_small{z-index:5}
    #header .m_page_subject{display:block;z-index:0}
    #header .m_gnb{padding-top:65px;background:#fff}
    #header .m_gnb li{padding:0 20px}
    #header .m_gnb li a{display:block;font-size:16px;font-family:'MINISansBold';line-height:56px;border-top:1px solid #ababb3}
    #header.open{height:100%}
    #header.open .m_gnb{display:block}
    #header.open .bg{background:rgba(0,0,0,0.8)}

    #container{padding-top:65px}

    #gnb{display:none}

    #footer{padding:20px 0;text-align:left}
    #footer ul li{display:block;margin-left:0}
    #footer ul li a{font-size:14px;line-height:36px}
    #footer .copy{padding:0;margin-top:15px}
    #footer .copy p{font-size:14px;line-height:18px;padding:9px 20px}

    .bottom_info{padding-top:40px;padding-bottom:30px}
    .bottom_info li{font-size:14px;line-height:20px;margin-top:6px}
    .bottom_info li:first-child{margin-top:0}


    #btn_top_scroll{bottom:20px;right:20px;width:48px;height:33px;display:block}    
    #btn_top_scroll a{
        position:absolute;
        bottom:-50px;
        right:0;
        display:block;
        width:48px;
        height:33px;
        opacity:0;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    #btn_top_scroll.open a{bottom:0;opacity:1}
}